.search{
    background-image: url("../assets/acara/meeting.png");
    background-size: cover;
    /* background: rgba(255, 255, 255, 0.5); */
    height: 640px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-box2{
    width: 603px;
    height: 51px;
    border-radius: 25px;
    padding: 15px 35px;
    border: 2px solid  #5F2A5D;
}

.btnsearch{
    border: none;
    background-color: #5F2A5D;
    padding: 12px 28px;
    font-size: 14px;
    color: #F9EEE1;
    cursor: pointer;
    display:inline-block;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 1%;
}

.search-box{
    display: flex;
}

.text-search h2{
    color:#5F2A5D;
    font-size: 48px;
}

.text-search h1{
    color: #5F2A5D;
    font-size: 60px;
}

.text-search span{
    color: #FF885E;
}

.progress{
    background: linear-gradient(to bottom, #F5DDC3, #FBF3EA);
    padding: 2% 5% 20%;
    border-radius: 0 0 300px 300px;
}

.progress h2{
    color: #5F2A5D;
    font-size: 32px;
}

.progres_kelas{
    background-color: white;
    width: 415px;
    height: 112px;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.tipe_kelas{
    font-size: 14px;
    font-weight: 500;
    color: #5F2A5D;
}

.judul_kelas{
    font-weight: bold;
}

.sesi_kelas{
    font-size: 14px;
}

.kelas{
    background-image: url(../assets/acara/Group\ 42.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 78px;
    margin-top: -120px;
    /* width: 1286px; */
    display: flex;
    align-items: flex-start;
    /* justify-content: center; */
    flex-direction: column;
    height: 596px;
}

.judul{
    display: flex;
    justify-content: left;
    /* margin: auto; */
    padding: 32px;
}

.judul h2{
    display: flex;
    align-items: center;
    padding: 20px;
}

.container{
    padding: 20px 55px;
    padding-top: 0px;
    display: flex;
    flex-direction: row;
}

.c2{
    width: 292px;
    height: 399px;
}

.c2 h3{
    font-size: 14px;
}

.c2 p{
    font-size: 10px;
}

.tipe{
    background-color: #FFDA93;
    padding: 15px;
    font-size: 10px;
    width: max-content;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

.kelas_card{
    background-color: white;    
    border-radius: 10px;
    margin: -15px 15px 0px;
}

.card{
    padding: 0 20px 10px;
}

.icon{
    display: flex;
    flex-direction: row;
    /* color: gray; */
}

.icon img{
    height: 16px;
}

.icon h3{
    margin-left: 5px;
    color: gray;
}

.img_kelas{
    height: 160px;
    padding: 0;
    border-radius: 10px 10px 0 0;
}

.pengajar{
    display: flex;
    flex-direction: row;
    margin: 12px 0;
}

.rating{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
}

.abu{
    color: gray;
}

.relawan{
    background-image: url(../assets/acara/Group\ 427320762.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin: 78px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height: 555px;
}

.c2_relawan{
    width: 292px;
    height: 346px;
}

.c2_relawan h3{
    font-size: 14px;
}

.judul_relawan{
    display: flex;
    justify-content: left;
    /* margin: auto; */
    padding: 32px;
    padding-bottom: 48px;
}

.judul_relawan h2{
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon_relawan{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.icon_relawan img{
    height: 16px;
}

.icon_relawan h3{
    margin-left: 5px;
    color: gray;
}