.search{
    background-image: url("../assets/acara/download\ \(2\)\ 1.png");
    background-size: cover;
    height: 640px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-box2{
    width: 603px;
    height: 51px;
    border-radius: 25px;
    padding: 15px 35px;
    border: 2px solid  #5F2A5D;
}

.btnsearch{
    border: none;
    background-color: #5F2A5D;
    padding: 12px 28px;
    font-size: 14px;
    color: #F9EEE1;
    cursor: pointer;
    display:inline-block;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 1%;
}

.search-box{
    display: flex;
}

.text-search h2{
    color:#5F2A5D;
    font-size: 48px;
}

.text-search h1{
    color: #5F2A5D;
    font-size: 60px;
}

.text-search span{
    color: #FF885E;
}

.progress{
    background: linear-gradient(to bottom, #F5DDC3, #FBF3EA);
    padding: 2% 5% 20%;
    border-radius: 0 0 300px 300px;
}

.progress h2{
    color: #5F2A5D;
    font-size: 32px;
}

.progres_kelas{
    background-color: white;
    width: 415px;
    height: 112px;
    padding: 1%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.tipe_kelas{
    font-size: 14px;
    font-weight: 500;
    color: #5F2A5D;
}

.judul_kelas{
    font-weight: bold;
}

.sesi_kelas{
    font-size: 14px;
}

.kelas_card{
    background-color: gray;
    /* ini cuman buat ngebedain per event aja, nanti diedit saja */
}

