.header{
    
    height: 50vh;
    background-size:cover;
    background-image: url("../assets/tentangKami.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.tinggi img{

    width: 12%;
    margin-top: 150px;

   
}

.header span{
    
    font-size: 100px;
    color:rgb(95, 42, 93) ;
    
    
}

.header span :first-child{
    color: #FF885E;
}

.tinggi{
    background-color:#F9EEE1  ;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}



.judul span{

    display: flex;
	justify-content: center;
	font-family: 'poppins';
    font-size: 64px;
    color:rgb(95, 42, 93) ;

}

.judul span :first-child{
    color: #FF885E;
}

.para p{

    display: flex;
    justify-content: center;
    align-items: center;
    
}
